* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, blue, rgb(34, 34, 197), rgb(144, 144, 211));
    /* overflow-x: hidden; */
    /*no scrollbar*/
}

.clock {
    background-color: silver;
    width: 90vh;
    height: 90vh;
    border: 2px solid black;
    border-radius: 50%;
    margin: auto;
    position: relative;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  */
}

.clock .numbers {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.numbers.number1 {
    transform: rotate(30deg);
}

.numbers.number2 {
    transform: rotate(60deg);
}

.numbers.number3 {
    transform: rotate(90deg);
}

.numbers.number4 {
    transform: rotate(120deg);
}

.numbers.number5 {
    transform: rotate(150deg);
}

.numbers.number6 {
    transform: rotate(180deg);
}

.numbers.number7 {
    transform: rotate(210deg);
}

.numbers.number8 {
    transform: rotate(240deg);
}

.numbers.number9 {
    transform: rotate(270deg);
}

.numbers.number10 {
    transform: rotate(300deg);
}

.numbers.number11 {
    transform: rotate(330deg);
}

.numbers.number12 {
    transform: rotate(0deg);
}

.clock .hands {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom;
    border-radius: 5px;
}

.hourhand {
    --rotation: ;
    width: 8px;
    height: 200px;
    background-color: black;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    z-index: 10;
}

.minhand {
    --rotation: 40;
    width: 4px;
    height: 210px;
    background-color: black;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.sechand {
    --rotation: ;
    width: 2px;
    background-color: red;
    height: 235px !important;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
    content: "";
    position: absolute;
    background-color: rgb(53, 21, 196);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}